

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
    flex: 0.3;
    padding: 5vw;
    position: relative;
    text-align: center;
}

.left img {
    display: block;
    margin-bottom: 20px; /* Adjust the margin as needed */
}

.left img:first-child {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; 
    padding: 3vw;
}

@keyframes sunAnimation {
    0% { filter: drop-shadow(0 0 30px rgba(255, 0, 0, 0.8)) blur(5px); }
    50% { filter: drop-shadow(0 0 30px rgba(255, 192, 203, 0.8)); }
    100% { filter: drop-shadow(0 0 30px rgba(255, 255, 255, 0.8)); }
}

.left img:nth-child(2) {
    position: relative;
    top: 1%; /* Adjust as needed */
    left: 1%; /* Adjust as needed */
    padding: 3vw;
    animation: sunAnimation 4s infinite alternate;
    opacity: 50%;
}

.left h1 {
    margin-bottom: 20px;
    margin-top: 10px;
    color: #d08e99; 
    font-size: 44px; /* Adjust the font size as needed */

}

.left h1:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
}


.right {
    flex: 1;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: flex-start; */
    border: 2px red solid;
    height: 90vh;
    padding: 2vw;
}

.title-content {
    max-width: 400px;
    margin: 0 auto;
    text-align: center; 
    border: 2px red solid;
}


.title-content h1{
    margin-bottom: 5vh;
    margin-top: -2vh;
}


.title-content h1 {
    position: relative;
    display: inline-block;
    color: #000000; /* Light pink color */
    padding: 10px;
    border-radius: 10px;
    font-family: 'Noto Sans JP', sans-serif; /* Your cute font */
    font-size: 45px; /* Adjust the font size as needed */
}

.title-content h1::before,
.title-content h1::after {
    content: '';
    position: absolute;
    left: 0;
    width: 70%;
    height: 2px; /* Height of the horizontal line */
    background-color: #393939; /* Color of the horizontal line */
}

.title-content h1::before {
    left: -70%; /* Adjust the distance above the title */
    top: 50%;
}

.title-content h1::after {
    left: 100%; /* Adjust the distance below the title */
    top: 50%;

}



ul {
    list-style: none;
    padding: 0;
}

h2 {
    color: #000000; 
}

li {
    margin-bottom: 10px;
}



@media only screen and (max-width: 600px){
    .container {
        display: block;
    }
}