@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Bellefair&family=Comfortaa:wght@300..700&family=Cutive+Mono&family=Maven+Pro:wght@400..900&family=Moirai+One&family=Mooli&family=Rokkitt:ital,wght@0,100..900;1,100..900&family=Rubik+Doodle+Shadow&display=swap');


.center-text{
    text-align: center;
    margin-top: 50px;
    font-size: 30px;
    font-family: "Moirai One", system-ui;

}

.Projects-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    align-items: center;
    gap: 2.3rem;
    margin: 4.2rem;
}

.row img{
    height: auto;
    width: 100%;
    border-radius: 28px;
    margin-bottom: 1.4rem;
    object-fit: cover;
    margin-right: 1rem;
}

.row{
    background: #1b2435;
    backdrop-filter: blur(10px);
    margin-left: -1rem;
    border-radius: 28px;
    border: 1px solid transparent;
    box-shadow: 0 0 5px pink;
    padding: 20px;
    transition: all .5s ease;
    color: white;
}

.main-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.row h5{
    font-size: 20px;
    font-weight: 600;
    color: aquamarine;
}

.row i{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    font-size: 27px;
    border-radius: 50%;
    color: white;
    background: rgba(255, 150, 150, 0);
}

.row h4{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 1.4;
}

.row:hover{
    border: 1px solid var(pink);
    transform: translateY(-5px) scale(1.03);
    cursor: pointer;
}